[submodule "HSL_Color_Picker.sketchplugin/Contents/Sketch/MochaJSDelegate"]
	path = HSL_Color_Picker.sketchplugin/Contents/Sketch/MochaJSDelegate
	url = https://github.com/matt-curtis/MochaJSDelegate.git
